.loginWrapper{
    background-color: rgb(228, 230, 231);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginContainer{
        text-align: center;
        width: 450px;
        height: 450px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 0 11px rgba(33,33,33,.6);
        
        .errorWrapper{

            width: 100%;
            height: 30px;

            .errorContainer{
                text-align: center;
                padding: 5px;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #ff0000, $alpha: 0.5);
            }

        }
        
        
    }

    form {
        width: 280px;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}