.ProductCardSlider{
    width: 100%;
    height: min-content;
    padding: 10px 0;
}

.product-card-slider-component{
    margin: 40px 0;
}

.button{
    margin-left: 40px;
    background-color: aqua !important;
}