.categoryWrapper {
    padding: 20px;
}

.categoryPageContainer{
    width:98%;
    height: 200vh;
    display: flex;

    .sideMenu{
        width: 15%;
        height: 300vh;
        background-color: blue;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        gap: 5px;

        a{
            color: white;
            display: inline;
        }
    }

    .contentBody{
        width: 85%;
        height: 300vh;
        background-color: rgb(0, 195, 255);
        display: inline-block;
        padding: 2%;
    }
}