.categoryWrapper {
    padding: 15px 60px;
}

.categoryPageContainer{
    width:98%;
    height: 500vh;
    display: flex;
    background-color: rgb(228, 230, 231);


    .sideMenu{
        width: 15%;
        height: 300vh;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        gap: 5px;
        margin: 10px;

        a{
            display: inline;
        }
    }

    .contentBody{
        width: 85%;
        height: 300vh;
        display: inline-block;
        display: flex;
        flex-direction: column;
    }
}