.footer {
    background-color: rgb(231, 239, 248);

    .card-name {
        width: 4%;
        margin: 10px;
    
     img {
        width: 100%;
        height: 50px;
        object-fit: contain;
      }
    }
}

@media (max-width: 575.98px){
    .card-name {
        width: 8%;
        margin: 0 7px;
      }
}

.card-img{
  height: 15px;
}